<!-- ユーザーの詳細 -->
<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <!--サインインしているユーザーを取得する(deviseのヘルパーメソッド)-->
  <% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->
  <!--部分テンプレートを呼び出せるように設定-->
<%= render 'post_images/list', post_images: @post_images %>
  <!--違うフォルダに部分テンプレートがあるから、フォルダ名も指定する事！-->